
/* line 11 : /www/node/gulp-stylus/examples/css/test.styl */

/* line 1 : /www/node/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 4 : /www/node/gulp-stylus/examples/css/test.styl */
body {
  width: 100%;
  height: 10%;
}

/* line 7 : /www/node/gulp-stylus/examples/css/test.styl */
div {
  background: #555;
}

/* line 9 : /www/node/gulp-stylus/examples/css/test.styl */
div:hover {
  background: #000;
}
